<h1 class=" text-center text-primary" > Locaciones </h1>

<div class="container-fluid">
<form [formGroup]="locacionForm" (ngSubmit)="saveForm() ">
  <input
    type="text"
    formControlName="name"
    class="form-control"
    placeholder="Ingrese Nombre"
  />
  <input
    type="number"
    formControlName="area_m2"
    class="form-control"
    placeholder="Ingrese Area por m2"
  />
  <select name="parentLocation" id="parentLocation" formControlName="parentLocation" class="form-select">
    <option selected disabled >Seleccionar locacion padre</option>
    <option [ngValue]="null" selected >No tiene locacion padre</option>
    <option [ngValue]="locacion" *ngFor="let locacion of locaciones">{{locacion.name}}</option>
  </select>
  <br>
  <button type="submit" class="btn btn-primary" >Guardar</button>
</form>
</div>

<div class="container-fluid">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Area(m2)</th>
        <th scope="col">Locacion padre</th>
        <th scope="col">Locaciones hijas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let locacion of locaciones">
        <td scope="col">{{locacion.name}}</td>
        <td scope="col">{{locacion.area_m2}}</td>
        <td scope="col" *ngIf="locacion.parentLocation != null ; else vacio" >{{locacion.parentLocation.name}}</td>
        <td scope="col" *ngIf="locacion.internLocations != null; else vacio"><span *ngFor="let intern of locacion.internLocations">{{intern.name}}, </span></td>
        <ng-template #vacio>
          <td scope="col" >******</td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
